/*Fontes*/
@font-face {
    font-family: Pacifico;
    src: url('fonts/pacificofont/pacifico-webfont.woff2') format('woff2'),
         url('fonts/pacificofont/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: BebasBold;
    src: url('fonts/bebasneue/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: BebasNeue;
    src: url('fonts/bebasneue/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Estilo Página Geral*/
body
{
	background-color: #f1c759;
}

/*Estilo Cabeçalho*/
.jumbotron
{
	margin-bottom: 0;
	background-color: #450000;
	color: white;
	font-family: BebasBold;
}

/*Estilo Menu de Navegação*/
.navbar
{
	background-color: #740001;
	font-family: BebasBold, Helvetica, serif;
	font-size: 24px;
}
.navbar .navbar-nav .nav-item
{
	margin-right: 1.2em;
}
.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a:focus
{
	color: white;
}

/*Estilo Ícones*/
.container img 
{
	margin-left: 15px;
	padding-bottom: 30px;
	float: right;
	width: 200px;
}
/*Estilo Texto da página principal (Geral) */
.container .row
{
	padding: 20px;
	overflow: hidden;
	color: #740001;
}
/*Estilo Texto da página principal (Subtítulos)*/
.container .row h2
{
	text-align: center;
	font-family: Pacifico, Helvetica, serif;
	font-size: 64px;
}
/* Estilo Subtítulos das páginas FILMES/SÉRIES */
.container .row .col h2
{
	padding-top: 120px;
	padding-right: 900px;
}
/*Estilo Texto da página principal (Subtítulos Menores)*/
.container .row h3
{
	font-family: BebasBold, Helvetica, serif;
	font-size: 32px;
	text-align: center;
	color: #ae0001;
}

/*Estilo Texto da página principal (Lista)*/
.container .row ul li
{
	list-style-type: decimal;
}

/*Estilo Botões na página (Registro de Filmes/Séries)*/
.container .row button
{
	margin-left: 40px;
}
/* Estilo Botões no Modal (Registro de Filmes/Séries) */
.modal .modal-footer button
{
	margin-left: 10px;
}

/* Estilos das Tabelas de Filmes e Séries */
.table > thead > tr > th
{
	border: hidden;
	font-family: BebasNeue;
	font-size: 20px;
}
.table > tbody > tr > td, .table > tbody > tr > th
{
	border: hidden;
}
.table #tablebtn
{
	margin: 0px;
}
.table #modalbtn
{
	margin: 0px;
	padding: 6px;
}

/* PRECISA ORGANIZAR ESSA BAGUNÇA QUE EU FIZ! -Caio */